asgiref==3.11.1
attrs==25.4.0
boto3>=1.35.0
celery[redis]>=5.4.0
django-celery-results>=2.5.0
django-cors-headers>=4.4.0
django-storages[s3]>=1.14.0
Django==6.0.2
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
packaging==26.0
psycopg2-binary==2.9.11
PyJWT==2.11.0
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
redis>=5.0.0
referencing==0.37.0
rpds-py==0.30.0
sqlparse==0.5.5
uritemplate==4.2.0
